.mdb-navbar {

    background-image: url('https://d17wu0fn6x6rgz.cloudfront.net/img/w/tarif/mgt/patates-kizartmasi.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
